################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
logs/
/BO/WebAPI/appsettings.Development.json
/BO/WebAPI/appsettings.json
/API/INFRA/Migrations
